html, body {
	margin: 0;
	padding: 0;
}


/*---- BOX SIZING ----*/


*, *:before, *:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}


/*---- TEXT & LINK ELEMENTS ----*/


#hdng-lg-serif, #subhdng-md-sans-serif {
	margin: 0;
	padding: 0;
	font-size: 40px;
	font-family: Georgia, serif;
	font-weight: 400;
	color: #396E74;
	line-height: 1.6;
}

#subhdng-md-sans-serif {
	font-size: 20px;
	font-family: Tahoma, sans-serif;
	color: #656F70;
}

.hdng-caps-lg-blue, .hdng-caps-md-blue, .hdng-caps-md-blue-2, .hdng-caps-md-blue-3, .hdng-caps-sm-blue, .hdng-caps-sm-blue-2, .hdng-caps-sm-orange {
	margin: 15px 0;
	padding: 0;
	font-size: 18px;
	font-family: Trebuchet MS, sans-serif;
	font-weight: 600;
	color: #6694AC;
	letter-spacing: 2px;
	text-transform: uppercase;
}

.hdng-caps-lg-blue {
	margin: 0;
	font-size: 40px;
	color: #447D9B;
}

.hdng-caps-md-blue, .hdng-caps-md-blue-2 {
	margin: 0;
	font-size: 20px;
	color: #4586AA;
}

.hdng-caps-md-blue-2 {
	font-size: 30px;
	color: #7191B1;
}

.hdng-caps-md-blue-3 {
	font-size: 24px;
	color: #4697C3;
}

.hdng-caps-sm-blue {
	color: #447D9B;
}

.hdng-caps-sm-orange {
	color: #E5AA99;
}

.hdng-caps-sm-white, .hdng-caps-sm-black, .hdng-caps-sm-blue-3 {
	margin: 0;
	padding: 0;
	font-size: 15px;
	font-family: Trebuchet MS, sans-serif;
	font-weight: 600;
	color: #FFFFFF;
	letter-spacing: 2px;
	text-transform: uppercase;
}

.hdng-caps-sm-blue-2 {
	margin-bottom: 10px;
	font-size: 15px;
	line-height: 1.6;
	color: #447D9B;
}

.hdng-caps-sm-black {
	font-weight: 600;
	color: #333333;
}

.hdng-caps-sm-blue-3 {
	margin: 8px 0 12px 0;
	font-size: 14px;
	font-family: Arial, serif;
	color: #A8CCDF;
}

.sans-serif-sm-grey, .sans-serif-sm-grey-2, .sans-serif-sm-grey-3, .sans-serif-sm-grey-4, .sans-serif-sm-orange, .sans-serif-sm-white, .sans-serif-sm-bold, .serif-sm-grey, .sans-serif-sm-white-2 {
	margin: 10px 0;
	padding: 0;
	font-size: 15px;
	font-family: Arial, sans-serif;
	color: #666666;
	line-height: 1.6;
}

.sans-serif-sm-grey-2, .sans-serif-sm-grey-3, .sans-serif-sm-grey-5 {
	margin-top: 20px;
	font-size: 15px;
	font-family: Trebuchet MS, sans-serif;
	color: #62778D;
}

.sans-serif-sm-grey-3 {
	line-height: 1.8;
}

.sans-serif-sm-grey-4 {
	margin: 3px 0;
}

.sans-serif-sm-grey-5 {
	margin: 0;
	color: #5E7A96;
}

.sans-serif-sm-orange {
	color: #DAB699;
}

.sans-serif-sm-white {
	margin: 5px 0;
	color: #D1DFE4;
}

.sans-serif-sm-bold {
	font-weight: 600;
}

.sans-serif-md-blue {
	margin: 40px 0 0 0;
	padding: 0;
	font-size: 22px;
	font-family: Arial, sans-serif;
	font-weight: 400;
	line-height: 1.6;
	color: #7B93AC;
}

.serif-sm-grey, .sans-serif-sm-white-2 {
	font-size: 16px;
	font-family: Georgia, serif;
	color: #666666;
}

.sans-serif-sm-white-2 {
	font-size: 15px;
	font-family: Tahoma, sans-serif;
	color: #D1DFE4;
}

.text-link-sm-block {
	margin: 0;
	padding: 10px;
	font-size: 15px;
	font-family: Tahoma, sans-serif;
	color: #2177A5;
	text-decoration: none;
	background-color: #ECF3F7;
	border: 1px solid #B2C9D5;
	-webkit-transition: 0.2s;
	-moz-transition: 0.2s;
	transition: 0.2s;
}

.text-link-sm-block:hover {
	color: #255B78;
	background-color: #D7E9F3;
}

.text-link-sm-blue {
	margin: 3px 0;
	padding: 0;
	font-size: 15px;
	font-family: Arial, sans-serif;
	color: #2177A5;
	line-height: 1.6;
	-webkit-transition: 0.2s;
	-moz-transition: 0.2s;
	transition: 0.2s;
}

.text-link-sm-blue:hover {
	color: #073A53;
}

.text-link-sm-blue-2 {
	margin: 0;
	padding: 0;
	font-size: 15px;
	font-family: Arial, sans-serif;
	color: #9AD5DF;
	-webkit-transition: 0.2s;
	-moz-transition: 0.2s;
	transition: 0.2s;
}

.text-link-sm-blue-2:hover {
	color: #D4E9EC;
}

.top-nav-links {
	margin: 0;
	padding: 0;
	font-size: 14px;
	font-family: Trebuchet MS, sans-serif;
	font-weight: 600;
	color: #333333;
	letter-spacing: 2px;
	text-transform: uppercase;
	text-decoration: none;
	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
	transition: 0.3s;
}

.top-nav-links:hover {
	color: #D94B20;
}

.block-link-blue {
	display: block;
	margin: 0;
	padding: 20px;
	font-size: 15px;
	font-family: Trebuchet MS, sans-serif;
	font-weight: 600;
	color: #FFFFFF;
	letter-spacing: 2.5px;
	width: 210px;
	background-color: #7BBECF;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	border: 2px solid #7BBECF;
	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
	transition: 0.3s;
}

.block-link-blue:hover {
	background-color: #5BA5B7;
	border: 2px solid #5BA5B7;
}


/*---- MAIN CONTAINERS & SECTION SPACING ----*/


.section-container, .blue-section-container, .footer-container {
	margin: 0;
	padding: 0 20px;
}

.no-spacing-container {
	margin: 0;
	padding: 0 20px;
}

.top-banner-container {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 350px;
	background-image: url(./images/banner-img.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: bottom;
}

.blue-section-container {
	background-color: #E4ECF0;
}

.footer-container {
	background-color: #6B7C83;
}

.section-inner, .section-inner-2 {
	margin: 0 auto;
	padding: 70px 0;
	max-width: 1200px;
}

.section-inner-2 {
	max-width: 1500px;
}

.section-spacing {
	padding: 30px 0;
}

.section-spacing-2 {
	padding: 100px 0;
}

.section-spacing-3 {
	padding-top: 50px;
	padding-bottom: 0;
}

.section-spacing-4 {
	padding-bottom: 0;
}


/*---- SECTION CONTENT CONTAINERS ----*/


.section-content-mrgn, .section-content-mrgn-2, .section-content-mrgn-bot, .section-content-mrgn-top, .section-content-mrgn-top-2, .section-content-mrgn-bot-md {
	margin: 20px 0;
	padding: 0;
}

.section-content-mrgn-2 {
	margin: 50px 0;
}

.section-content-mrgn-bot {
	margin: 0 0 30px 0;
}

.section-content-mrgn-top{
	margin: 10px 0 0 0;
}

.section-content-mrgn-top-2 {
	margin: 35px 0 0 0;
}

.section-content-mrgn-bot-md {
	margin: 0 0 50px 0;
	max-width: 850px;
}

.no-mrgn {
	margin: 0;
}

.no-mrgn-pdng {
	margin: 0;
	padding: 0;
}

.section-content-pdng-top {
	padding-top: 15px;
}

.section-content-pdng-bot {
	padding-bottom: 30px;
}

.center-text {
	text-align: center;
}

.section-ul-bot {
	border-bottom: 1px solid #D0D6E1; 
}

.section-content-col-1, .section-content-col-2 {
	display: flex;
	flex-direction: row;
	margin: 0;
	padding: 0;
}

.section-content-col-2 {
	display: flex;
	flex-direction: column;
}

.section-content-col-3 {
	position: relative;
	margin: 0;
	padding: 0;
}

.section-col-wrapper-1 {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(329px, 1fr));
	gap: 80px;
	margin: 0;
	padding: 0;
}

.second-col-wrapper-2 {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
	gap: 60px;
	margin: 0;
	padding: 0;
}

.second-col-wrapper-3 {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
	gap: 50px;
	max-width: 850px;
	margin: 0;
	margin-bottom: 30px;
	padding: 0;
}


/*---- TOP NAV ----*/


.top-nav {
	position: relative;
	margin: 0 auto;
	padding: 40px 0;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	gap: 50px;
	align-items: center;
	max-width: 1200px;
}

.top-menu {
	margin: 0;
	padding: 0;
	min-width: 502px;
}

.top-nav ul {
	margin: 0;
	padding: 0;
}

.top-nav li {
	display: inline-block;
	list-style-type: none;
	margin: 0;
	padding: 0 20px;
}

.menu-transition {
	-webkit-transition: 0.1s;
	-moz-transition: 0.1s;
	transition: 0.1s;
}

.nav-logo-wrapper {
	margin: 0;
	padding: 0;
	max-width: 407px;
	height: 100%;
}

.nav-logo-img {
	margin: 0;
	padding: 0;
	width: 100%;
	height: auto;
}

.no-text-dec-link {
	display: block;
	margin: 0;
	padding: 0;
	text-decoration: none;
}


/*---- FIRST SECTION ----*/


.section-top-img {
	margin: 0 auto;
	padding: 0;
	max-width: 300px;
	overflow: hidden;
	text-align: center;
}


/*---- SECOND SECTION ----*/


.second-section-col {
	display: flex;
	flex-direction: column;
	margin: 15px 0;
	padding: 0;
	text-align: center;
}

.second-section-col-inner {
	max-width: 320px;
}

#realestate-jumpto {
	
}

#powersattorney-jumpto {
	
}

#willsestates-jumpto {
	
}

#affidavits-jumpto {
	
}

#mortgages-jumpto {
	
}

#notarizations-jumpto {
	
}


/*---- THIRD SECTION ----*/


.third-section-icons {
	margin: 0 15px 0 0;
	padding: 0;
}


/*---- FOURTH SECTION ----*/


.fourth-section-col {
	display: flex;
	flex-direction: column;
	margin: 20px auto;
	padding: 30px;
	max-width: 900px;
	background-color: #F5F6F9;
	border: 1px solid #D0D6E1;
	border-radius: 10px;
}


/*---- FOOTER ----*/


.footer-col-wrapper {
	display: grid;
	grid-template-columns: 1fr 1fr minmax(auto, 150px);
	gap: 80px;
	justify-content: space-between;
	margin: 0;
	padding: 0;
}

.footer-img-rights {
	margin: 50px 0 0 0;
	padding: 0;
	max-width: 595px;
	overflow-wrap: anywhere;
}

.footer-padding {
	padding-right: 20px;
}

.footer-align {
	text-align: center;
}

.footer-location-wrapper {
	display: grid;
	grid-template-columns: repeat(2, minmax(219px, 1fr));
	justify-content: space-between;
}

.footer-links {
	margin: 0;
	padding: 0;
}

.footer-links ul {
	margin: 0;
	padding: 0;
}

.footer-links li {
	list-style-type: none;
	margin: 0;
	padding: 0 0 15px 0;
}

.footer-links a {
	margin: 0;
	padding: 0;
	font-size: 12px;
	font-family: Arial, sans-serif;
	font-weight: 600;
	color: #FFFFFF;
	letter-spacing: 2px;
	text-transform: uppercase;
	text-decoration: none;
	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
	transition: 0.3s;
}

.footer-links a:hover {
	color: #ABC7D3;
}

.footer-icons {
	margin: 0 auto;
	padding: 20px 0;
}








/*-------- SERVICES PAGE --------*/


#services-jumpto {
	
}








/*-------- ABOUT PAGE --------*/


.about-second-section-col-wrapper {
	margin: 0;
	padding: 0;
}

.about-third-section-col {
	position: relative;
	padding-left: 15px;
}

.about-third-section-col::before {
	position: absolute;
	left: 0;
	top: 18px;
	content: '\2022';
	color: #608599;
}

#about-jumpto {
	
}








/*-------- FAQ PAGE --------*/


.faq-section-subheading {
	position: relative;
	margin: 0 0 30px 0;
	padding: 0;
}

.faq-section-subheading::before {
	position: absolute;
	content: '';
	bottom: -10px;
	height: 3px;
	width: 100px;
	background-color: #8CA6B4;
}








/*-------- CONTACT PAGE --------*/


.map-img-wrapper {
	margin: 0;
	padding: 0;
	border: 2px solid #D0D6E1;
	max-width: 801px;
	height: 100%;
}

.map-img {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

.contact-section-info-col-heading {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin: 0;
	padding: 0;
}

.contact-section-info-col {
	margin: 15px 0;
	padding: 0;
}

.contact-section-info-col-img {
	margin: 0;
	margin-left: 15px;
	padding: 0;
}

.contact-section-info-col-2 {
	margin: 30px 0;
	padding: 0;
	max-width: 250px;
}

.contact-section-info-bot {
	margin: 10px 0 30px 14px;
	padding: 0;
	max-width: 350px;
}

.contact-section-info-bot ul {
	margin: 0;
	padding: 0;
}

.contact-section-info-bot li {
	list-style-type: disc;
	margin: 0;
	padding: 0;
	font-size: 15px;
	font-family: Tahoma, sans-serif;
	color: #62778D;
	line-height: 1.6;
}

#contact-jumpto {
	
}




















/*------------ RESIZING SECTION ------------*/


/*-------- 1200px WIDTH --------*/


@media screen and (max-width: 1200px) {
	
	
	/*---- CONTAINERS ----*/
	
	
	.section-container, .blue-section-container, .footer-container {
		margin: 0;
		padding: 0 20px;
	}
	
	.section-container-banner {
		padding: 0 20px;
	}
	
	.resize-spacing {
		padding: 0 20px;
	}
	
	
	/*---- FOOTER ----*/
	
	
	.footer-col-wrapper {
		display: grid;
		grid-template-columns: repeat(1, 1fr);
		gap: 80px;
		justify-content: space-between;
		margin: 0;
		padding: 0;
	}
	
	
}


/*-------- 900px WIDTH --------*/


@media screen and (max-width: 900px) {
	
	
	/*---- TOP NAV ----*/
	
	
	.top-nav {
		position: relative;
		margin: 0 auto;
		padding: 40px 0;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		width: 100%;
		z-index: 1;
	}
	
	.top-menu {
		display: none;
		position: fixed;
		top: 0;
		left: 0;
		margin: 0;
		padding: 0;
		min-width: 100%;
		background-color: #FFFFFF;
	}
	
	.top-menu ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
		border-bottom: 1px dotted #888888;
	}

	.top-menu li {
		display: block;
		list-style-type: none;
		margin: 0;
		padding: 20px;
		border-top: 1px dotted #888888;
		text-align: center;
	}
	
	.active {
		display: block;
	}
	
	.lock-scroll {
		overflow: hidden;
	}
	
	.menu-open {
		height: auto;
	}
	
	.menu-toggle div {
		margin: 4px 0;
		padding: 0;
		height: 3px;
		background-color: #FFFFFF;
		border-radius: 5px;
		-webkit-transition: 0.3s;
		-moz-transition: 0.3s;
		transition: 0.3s;
		z-index: 9999;
	}
	
	.menu-toggle {
		position: fixed;
		display: block;
		top: 15px;
		right: 15px;
		margin: 0;
		padding: 5px;
		background-color: #0F9999;
		border-radius: 4px;
		cursor: pointer;
		-webkit-transition: 0.3s;
		-moz-transition: 0.3s;
		transition: 0.3s;
		z-index: 9999;
	}
	
	.menu-toggle:hover div {
		background-color: #FFFFFF;
	}
	
	.menu-toggle:hover {
		background-color: #056F6F;
	}
	
	.one {
		width: 30px;
	}
	
	.two {
		width: 30px;
	}
	
	.three {
		width: 30px;
	}
	
	.toggle-close {
		display: block;
		margin: 8px 5px;
		padding: 0;
		width: 48px;
		height: 48px;
		background-image: url(./images/close-button.png);
		background-repeat: no-repeat;
		cursor: pointer;
	}
	
	
}


/*-------- 768px WIDTH --------*/


@media screen and (max-width: 768px) {
	
	
	/*---- TEXT ELEMENTS ----*/
	
	
	#hdng-lg-serif {
		font-size: 35px;
		font-weight: 400;
		margin-bottom: 10px;
	}
	
	
	/*---- CONTAINERS ----*/
	
	
	.no-spacing-container {
		margin: 0;
		padding: 0 20px;
		background-color: #E8F3F6;
	}
	
	.top-banner-container {
		margin: 0;
		padding: 0;
		display: none;
	}
	
	
	/*---- SECTION CONTENT CONTAINERS ----*/
	
	
	.section-col-wrapper-1 {
		display: grid;
		grid-template-columns: repeat(1, 1fr);
		gap: 80px;
		margin: 0;
		padding: 0;
	}
	
	.second-col-wrapper-2 {
		display: grid;
		grid-template-columns: repeat(1, 1fr);
		gap: 60px;
		margin: 0;
		padding: 0;
	}

	.second-col-wrapper-3 {
		display: grid;
		grid-template-columns: repeat(1, 1fr);
		gap: 50px;
		max-width: 850px;
		margin: 0;
		margin-bottom: 30px;
		padding: 0;
	}
	
	
	/*---- TOP NAV ----*/
	
	
	.top-nav {
		position: relative;
		margin: 0 auto;
		padding: 60px 0;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		width: 100%;
		z-index: 1;
	}
	
	.menu-toggle {
		position: fixed;
		display: block;
		top: 85px;
		right: 15px;
		margin: 0;
		padding: 5px;
		background-color: #0F9999;
		border-radius: 4px;
		cursor: pointer;
		-webkit-transition: 0.3s;
		-moz-transition: 0.3s;
		transition: 0.3s;
		z-index: 9999;
	}
	
	.nav-logo-img {
		margin: 0;
		padding: 0;
		width: 90%;
		height: auto;
	}
	
	
	/*---- FIRST SECTION ----*/
	
	
	.block-link-top, .block-link-top-two {
		margin: 0 auto;
		margin-top: 40px;
	}
	
	
	/*---- FOURTH SECTION ----*/
	
	
	.fourth-section-col {
		display: flex;
		flex-direction: column;
		margin: 0 auto;
		padding: 0;
		background: none;
		border: none;
		border-radius: none;
	}
	
	
	/*---- FOOTER ----*/
	
	
	.footer-col-wrapper {
		display: grid;
		grid-template-columns: repeat(1, 1fr);
		gap: 80px;
		justify-content: space-between;
		margin: 0;
		padding: 0;
	}
	
	.footer-location-wrapper {
		display: grid;
		grid-template-columns: repeat(1, 1fr);
	}
	
	.footer-img-rights {
		margin: 80px 0 0 0;
		padding: 0;
		max-width: 595px;
		overflow-wrap: anywhere;
	}
	
	
}




















